<h1>Devour it!</h1>
<h2>Burgers Available</h2>

<ul>
  {{#each burgers}}
  {{#unless this.devoured}}
    <h1>{{this.burger_name}}<button type="submit" data-id={{this.id}} class="devour">Devour It!!!</button></h1>
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured</h2>


<ul>
  {{#each burgers}}
    {{#if this.devoured}}
    <h1>{{this.burger_name}}<button type="submit" value={{this.id}} class="delete">Delete It!!!</button></h1>
    {{/if}}
  {{/each}}
</ul>



<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
   
    <input type="text" id="ca" name="name">
    <label for="ca">Enter the Burger you want to eat. Click the "Submit" button.</label>
  </div>

  <div class="form-group">
    <label for="devour">devoured</label><br>
    <input type="radio" name="devour" value="1"> Devoured<br>
    <input type="radio" name="devour" value="0" checked> Available
  </div>

  <button type="submit">Devour It!</button>
</form>
